<label>Avatar<input type="text" ng-value="$ctrl.user.avatar" ng-model="$ctrl.change.avatar"></label>
<label>Prénom<input type="text" ng-value="$ctrl.user.firstname" ng-model="$ctrl.change.firstname"></label>
<label>Nom<input type="text" ng-value="$ctrl.user.lastname" ng-model="$ctrl.change.lastname"></label>
<label>Age<input type="text" ng-value="$ctrl.user.age" ng-model="$ctrl.change.age"></label>
<label>Mattermost<input type="text" ng-value="$ctrl.user.mattermost" ng-model="$ctrl.change.mattermost"></label>
<label>social1<input type="text" ng-value="$ctrl.user.social1" ng-model="$ctrl.change.social1"></label>
<label>social2<input type="text" ng-value="$ctrl.user.social2" ng-model="$ctrl.change.social2"></label>
<label>social3<input type="text" ng-value="$ctrl.user.social3" ng-model="$ctrl.change.social3"></label>
<label>Email<input type="text" ng-value="$ctrl.user.mail" ng-model="$ctrl.change.mail"></label>
<label>Mot De Passe<input type="text" ng-value="$ctrl.user.password" ng-model="$ctrl.change.password"></label>
<button ng-click="$ctrl.modif()">Modifier</button>
<a ui-sref="home">accueil</a>

