<div class="nav-wrapper">

    <!--<a href="/">
        <img src="./assets/img/logo_wild_white.png" width="50px" class="logo">
    </a>
    <a href="/">
     <h1 id="title_nav">Wild Exchange</h1>
    </a>-->

    <ul class="right hide-on-med-and-down menu-right">
        
        <li><a ng-if="$ctrl.isAuthenticated != null" ui-sref="formQ" class="waves-effect waves-light btn">Pose ta question</a></li>

        <li><a ng-if="$ctrl.isAuthenticated != null" ui-sref="usersList" class="waves-effect waves-light btn-flat">Annuaire</a> </li>
        
        <li class="image-user">
             <a ng-if="$ctrl.isAuthenticated != null" ui-sref="myProfile"><img class="responsive-img avatar" ng-src="{{$ctrl.currentUser.avatar}}"/></a>
        </li>

        <li><a ng-if="$ctrl.isAuthenticated == null" ui-sref="registration" class="waves-effect waves-light btn-flat"> <div class="loginlogout">Se connecter / S'inscrire <i class="material-icons">power_settings_new</i></div></a
        ><a ng-if="$ctrl.isAuthenticated != null" ng-click="$ctrl.disconnect()"><i class="material-icons">power_settings_new</i></a></li>
      </ul>


</div>

