<div id="search-field" class="input-field">
    <input id="search" type="search" name="query" ng-model="$ctrl.query">
    <label class="label-icon loupe" for="search"><i class="material-icons">search</i></label>
</div>

<h2><b>Ecris ton sujet</b></h2>

<input type="text" ng-model="$ctrl.name" />

<h2><b>Pose ta question</b></h2>
<div class="textA" text-angular="text-angular" ng-model="$ctrl.body" ta-disabled='disabled'></div>

</br>
</br>


<button type="submit" ui-sref="home" ng-click="$ctrl.add($ctrl.questions)" ng-disabled="!$ctrl.name || !$ctrl.body">Valider</button>

<button type="submit" ui-sref="home">Retour à l'acceuil</button>